<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database Connection Properties -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/college</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Hibernate Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Hibernate Properties -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        
     	 <mapping class="com.java.hibernate.map.onetomany.Answer"/>
       	 <mapping class="com.java.hibernate.map.onetomany.Question"/> 
        
       	 <!--<mapping class="com.java.hibernate.map.onetoone.Answer"/>
      	<mapping class="com.java.hibernate.map.onetoone.Question"/>-->
      	
      	<!--<mapping  class="com.java.hibernatebasics.HibernateAnnotations.Student"/>
		<mapping  class="com.java.hibernatebasics.HibernateAnnotations.Address"/>-->
		
		

		<mapping class="com.java.hibernate.map.manytomany.Emp"/>
		<mapping class="com.java.hibernate.map.manytomany.Project" />
        
        <!-- 
		<mapping class="com.java.hibernate.fetchingtechniques.Question"/>
        <mapping class="com.java.hibernate.fetchingtechniques.Answer"/>
		-->
        	
		<mapping class="com.java.hibernate.states.Student"/>
		<mapping class="com.java.hibernate.states.Certificate"/>
		
		
    </session-factory>
</hibernate-configuration>
